a2wsgi==1.10.10
absl-py==2.3.1
aiofile==3.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
aiosmtplib==5.1.0
aiosqlite==0.21.0
ale-py==0.11.2
alembic==1.18.3
alpaca-trade-api==3.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.9.0
apache-airflow==3.1.6
apache-airflow-core==3.1.6
apache-airflow-providers-common-compat==1.13.0
apache-airflow-providers-common-io==1.7.1
apache-airflow-providers-common-sql==1.30.4
apache-airflow-providers-fab==3.2.0
apache-airflow-providers-smtp==2.4.2
apache-airflow-providers-standard==1.11.0
apache-airflow-task-sdk==1.1.6
apispec==6.9.0
appdirs==1.4.4
apprise==1.9.7
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
argcomplete==3.6.3
asgi-lifespan==2.1.0
asgiref==3.11.0
asn1crypto==1.5.1
astunparse==1.6.3
asyncpg==0.31.0
attrs==25.3.0
Authlib==1.6.9
autograd==1.8.0
autoray==0.7.2
babel==2.18.0
beartype==0.22.9
beautifulsoup4==4.13.4
blinker==1.9.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1733827268945/work
boto3==1.42.23
botocore==1.42.23
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cachelib==0.13.0
cachetools==6.1.0
cadwyn==5.4.6
caio==0.9.25
cbor2==6.1.2
certifi==2025.7.14
certvalidator==0.11.1
cffi==2.0.0
charset-normalizer==3.4.2
click==8.2.1
clickclick==20.10.2
cloudpickle==3.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog==6.10.1
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1743046512151/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1742219570693/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1741620732069/work
connexion==2.14.2
contourpy==1.3.2
coolname==3.0.0
cron_descriptor==2.0.6
croniter==6.0.0
cryptography==46.0.4
curl_cffi==0.13.0
cycler==0.12.1
cyclopts==4.10.1
dateparser==1.2.2
Deprecated==1.3.1
deprecation==2.1.0
diastatic-malt==2.15.2
dill==0.4.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
docutils==0.22.4
ecdsa==0.19.2
elevenlabs==2.7.1
email_validator==2.1.1
exceptiongroup==1.3.1
fakeredis==2.33.0
Farama-Notifications==0.0.4
fastapi==0.135.3
fastapi-cli==0.0.20
fastmcp==3.2.0
feedparser==6.0.11
filelock==3.18.0
Flask==2.2.5
Flask-AppBuilder==5.0.1
flask-babel==4.0.0
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.12
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.59.0
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841362247/work
frozenlist==1.7.0
fsspec==2025.7.0
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
googleapis-common-protos==1.72.0
graphviz==0.21
greenback==1.3.0
greenlet==3.3.1
griffe==1.15.0
grpcio==1.67.1
gym==0.17.3
gymnasium==1.1.1
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf-xet==1.1.5
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.25.2
humanize==4.15.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.10
importlib_metadata==8.7.1
inflection==0.5.1
iniconfig==2.3.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
Jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jiter==0.13.0
jmespath==1.0.1
joblib==1.5.1
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302931775/work
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-path==0.4.5
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.4.8
lazy-object-proxy==1.12.0
libcst==1.8.6
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1746516032751/work/libmambapy
limits==5.6.0
linkify-it-py==2.0.3
lockfile==0.12.2
lupa==2.6
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==4.2.1
marshmallow-sqlalchemy==1.4.2
matplotlib==3.10.3
mcp==1.26.0
mdurl==0.1.2
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1731147022576/work
methodtools==0.4.7
milvus-lite==2.5.1
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.0.3
msgspec==0.20.0
multidict==6.6.3
multitasking==0.0.12
natsort==8.4.0
networkx==3.5
nltk==3.9.1
numpy==2.3.2
oauthlib==3.3.1
openai==2.30.0
openapi-pydantic==0.5.1
opencv-python==4.12.0.88
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
ordered-set==4.1.0
orjson==3.11.7
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.1
pathable==0.5.0
pathspec==1.0.4
peewee==3.18.3
pendulum==3.2.0
PennyLane==0.41.1
PennyLane_Lightning==0.41.1
pillow==11.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pluggy==1.6.0
prefect==3.6.15
prison==0.2.1
prometheus_client==0.24.1
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
psycopg==3.3.4
psycopg-binary==3.3.4
py-key-value-aio==0.4.4
py-key-value-shared==0.3.0
pyarrow==22.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1732588505673/work
pycose==1.1.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydocket==0.17.5
pygame==2.6.1
pyglet==1.5.0
Pygments==2.19.2
pygtrie==2.5.0
PyJWT==2.11.0
pymilvus==2.5.12
pyobjc==11.1
pyobjc-core==11.1
pyobjc-framework-Accessibility==11.1
pyobjc-framework-Accounts==11.1
pyobjc-framework-AddressBook==11.1
pyobjc-framework-AdServices==11.1
pyobjc-framework-AdSupport==11.1
pyobjc-framework-AppleScriptKit==11.1
pyobjc-framework-AppleScriptObjC==11.1
pyobjc-framework-ApplicationServices==11.1
pyobjc-framework-AppTrackingTransparency==11.1
pyobjc-framework-AudioVideoBridging==11.1
pyobjc-framework-AuthenticationServices==11.1
pyobjc-framework-AutomaticAssessmentConfiguration==11.1
pyobjc-framework-Automator==11.1
pyobjc-framework-AVFoundation==11.1
pyobjc-framework-AVKit==11.1
pyobjc-framework-AVRouting==11.1
pyobjc-framework-BackgroundAssets==11.1
pyobjc-framework-BrowserEngineKit==11.1
pyobjc-framework-BusinessChat==11.1
pyobjc-framework-CalendarStore==11.1
pyobjc-framework-CallKit==11.1
pyobjc-framework-Carbon==11.1
pyobjc-framework-CFNetwork==11.1
pyobjc-framework-Cinematic==11.1
pyobjc-framework-ClassKit==11.1
pyobjc-framework-CloudKit==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Collaboration==11.1
pyobjc-framework-ColorSync==11.1
pyobjc-framework-Contacts==11.1
pyobjc-framework-ContactsUI==11.1
pyobjc-framework-CoreAudio==11.1
pyobjc-framework-CoreAudioKit==11.1
pyobjc-framework-CoreBluetooth==11.1
pyobjc-framework-CoreData==11.1
pyobjc-framework-CoreHaptics==11.1
pyobjc-framework-CoreLocation==11.1
pyobjc-framework-CoreMedia==11.1
pyobjc-framework-CoreMediaIO==11.1
pyobjc-framework-CoreMIDI==11.1
pyobjc-framework-CoreML==11.1
pyobjc-framework-CoreMotion==11.1
pyobjc-framework-CoreServices==11.1
pyobjc-framework-CoreSpotlight==11.1
pyobjc-framework-CoreText==11.1
pyobjc-framework-CoreWLAN==11.1
pyobjc-framework-CryptoTokenKit==11.1
pyobjc-framework-DataDetection==11.1
pyobjc-framework-DeviceCheck==11.1
pyobjc-framework-DictionaryServices==11.1
pyobjc-framework-DiscRecording==11.1
pyobjc-framework-DiscRecordingUI==11.1
pyobjc-framework-DiskArbitration==11.1
pyobjc-framework-DVDPlayback==11.1
pyobjc-framework-EventKit==11.1
pyobjc-framework-ExceptionHandling==11.1
pyobjc-framework-ExecutionPolicy==11.1
pyobjc-framework-ExtensionKit==11.1
pyobjc-framework-ExternalAccessory==11.1
pyobjc-framework-FileProvider==11.1
pyobjc-framework-FileProviderUI==11.1
pyobjc-framework-FinderSync==11.1
pyobjc-framework-FSEvents==11.1
pyobjc-framework-GameCenter==11.1
pyobjc-framework-GameController==11.1
pyobjc-framework-GameKit==11.1
pyobjc-framework-GameplayKit==11.1
pyobjc-framework-HealthKit==11.1
pyobjc-framework-ImageCaptureCore==11.1
pyobjc-framework-InputMethodKit==11.1
pyobjc-framework-InstallerPlugins==11.1
pyobjc-framework-InstantMessage==11.1
pyobjc-framework-Intents==11.1
pyobjc-framework-IntentsUI==11.1
pyobjc-framework-IOBluetooth==11.1
pyobjc-framework-IOBluetoothUI==11.1
pyobjc-framework-IOSurface==11.1
pyobjc-framework-iTunesLibrary==11.1
pyobjc-framework-KernelManagement==11.1
pyobjc-framework-LatentSemanticMapping==11.1
pyobjc-framework-LaunchServices==11.1
pyobjc-framework-libdispatch==11.1
pyobjc-framework-libxpc==11.1
pyobjc-framework-LinkPresentation==11.1
pyobjc-framework-LocalAuthentication==11.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.1
pyobjc-framework-MailKit==11.1
pyobjc-framework-MapKit==11.1
pyobjc-framework-MediaAccessibility==11.1
pyobjc-framework-MediaLibrary==11.1
pyobjc-framework-MediaPlayer==11.1
pyobjc-framework-MediaToolbox==11.1
pyobjc-framework-Metal==11.1
pyobjc-framework-MetalFX==11.1
pyobjc-framework-MetalKit==11.1
pyobjc-framework-MetalPerformanceShaders==11.1
pyobjc-framework-MetalPerformanceShadersGraph==11.1
pyobjc-framework-MetricKit==11.1
pyobjc-framework-MLCompute==11.1
pyobjc-framework-ModelIO==11.1
pyobjc-framework-MultipeerConnectivity==11.1
pyobjc-framework-NaturalLanguage==11.1
pyobjc-framework-NetFS==11.1
pyobjc-framework-Network==11.1
pyobjc-framework-NetworkExtension==11.1
pyobjc-framework-NotificationCenter==11.1
pyobjc-framework-OpenDirectory==11.1
pyobjc-framework-OSAKit==11.1
pyobjc-framework-OSLog==11.1
pyobjc-framework-PassKit==11.1
pyobjc-framework-PencilKit==11.1
pyobjc-framework-PHASE==11.1
pyobjc-framework-Photos==11.1
pyobjc-framework-PhotosUI==11.1
pyobjc-framework-PreferencePanes==11.1
pyobjc-framework-PushKit==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-QuickLookThumbnailing==11.1
pyobjc-framework-ReplayKit==11.1
pyobjc-framework-SafariServices==11.1
pyobjc-framework-SafetyKit==11.1
pyobjc-framework-SceneKit==11.1
pyobjc-framework-ScreenCaptureKit==11.1
pyobjc-framework-ScreenSaver==11.1
pyobjc-framework-ScreenTime==11.1
pyobjc-framework-ScriptingBridge==11.1
pyobjc-framework-SearchKit==11.1
pyobjc-framework-Security==11.1
pyobjc-framework-SecurityFoundation==11.1
pyobjc-framework-SecurityInterface==11.1
pyobjc-framework-SensitiveContentAnalysis==11.1
pyobjc-framework-ServiceManagement==11.1
pyobjc-framework-SharedWithYou==11.1
pyobjc-framework-SharedWithYouCore==11.1
pyobjc-framework-ShazamKit==11.1
pyobjc-framework-Social==11.1
pyobjc-framework-SoundAnalysis==11.1
pyobjc-framework-Speech==11.1
pyobjc-framework-SpriteKit==11.1
pyobjc-framework-StoreKit==11.1
pyobjc-framework-Symbols==11.1
pyobjc-framework-SyncServices==11.1
pyobjc-framework-SystemConfiguration==11.1
pyobjc-framework-SystemExtensions==11.1
pyobjc-framework-ThreadNetwork==11.1
pyobjc-framework-UniformTypeIdentifiers==11.1
pyobjc-framework-UserNotifications==11.1
pyobjc-framework-UserNotificationsUI==11.1
pyobjc-framework-VideoSubscriberAccount==11.1
pyobjc-framework-VideoToolbox==11.1
pyobjc-framework-Virtualization==11.1
pyobjc-framework-Vision==11.1
pyobjc-framework-WebKit==11.1
pyparsing==3.2.3
pyperclip==1.11.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==9.0.2
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
python-multipart==0.0.22
python-slugify==8.0.4
pyttsx3==2.99
pytz==2025.2
PyYAML==6.0.2
readchar==4.2.1
redis==7.1.0
referencing==0.37.0
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-argparse==1.7.2
rich-rst==1.3.2
rich-toolkit==0.18.1
rpds-py==0.30.0
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1736248058782/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1728724504988/work
rustworkx==0.16.0
s3transfer==0.16.0
safetensors==0.5.3
scikit-learn==1.7.1
scipy==1.16.1
scipy-openblas32==0.3.30.0.1
semver==3.0.4
sentencepiece==0.2.0
sentry-sdk==2.32.0
setproctitle==1.3.7
setuptools==80.9.0
sgmllib3k==1.0.0
shellingham==1.5.4
Shimmy==2.0.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.2
soupsieve==2.7
SQLAlchemy==2.0.46
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.1
sqlparse==0.5.5
sse-starlette==3.3.4
stable_baselines3==2.6.0
starlette==1.0.0
structlog==25.5.0
svcs==25.1.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
# Editable install with no version control (tex==0.1.0)
-e /Users/texos/Documents/tex
text-unidecode==1.3
threadpoolctl==3.6.0
tokenizers==0.21.2
toml==0.10.2
tomlkit==0.13.3
torch==2.7.1
torch-geometric==2.6.1
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.30.2
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1739009763/work
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.3
ujson==5.10.0
uncalled-for==0.2.0
universal_pathlib==0.2.6
urllib3==2.5.0
uuid6==2025.0.1
uvicorn==0.42.0
uvloop==0.22.1
wandb==0.21.0
watchfiles==1.1.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==2.2.3
wheel==0.45.1
wirerope==1.0.0
wrapt==2.1.0
WTForms==3.2.1
yarl==1.20.1
yfinance==0.2.66
zipp==3.23.0
zstandard==0.23.0
